@charset "utf-8";
@import "_inc";
/*==========================================
 共通設定
===========================================*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  min-height:0;
  min-width : 0;
}
*:focus{
 outline: none;
}
/*=== フォント ===*/
html{
  font-size: 62.5%;
}
.los_m {
  font-family: los-feliz,serif;
  font-weight: 400;
}
.los_b {
  font-family: los-feliz,serif;
  font-weight: bold;
}
.yumin_m {
  font-family: "游明朝体","Yu Mincho",YuMincho,"ヒラギノ明朝 ProN W6","HiraMinProN-W6","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
  font-weight: 400;
}
.yumin_b {
  font-family: "游明朝体","Yu Mincho",YuMincho,"ヒラギノ明朝 ProN W6","HiraMinProN-W6","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
  font-weight: bold;
}
body {
  color: #000;
  -webkit-text-size-adjust: 100%;
  font-family: $font03;
  font-size: 1.6rem;
  line-height:1.6;
  letter-spacing: 0.05em;
  font-weight: 500;
  overflow-x: hidden;
}
input[type="button"], input[type="text"], input[type="submit"] {
  -webkit-appearance: none;
}
body, html {
  width: 100%;
  height: auto;
  position: relative;
}
main {
  display: block;
}
/*IE*/
@media all and (-ms-high-contrast:none) {
  body {
    font-family: "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
  }
}
/*=== リンク ===*/
a {
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  color: unset;
}
a::before,a::after {
  transition: 0.3s;
}
a[href^="tel:"] {
  pointer-events: none;
  cursor: text;
}
@include point_sml {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}
/*=== 画像 ===*/
body img[src$=".svg"] {
  width: 100%;
}
img, svg {
  max-width: 100%;
  height: auto;
}
/*=== パンくずリスト ===*/
.breadcrumb {
  margin-bottom: 40px !important;
  &_item {
    display: inline-block;
    margin-right: 14px;
    a {
      color: #000;
      display: inline-block;
      background: #f33;
      padding: 2px 8px 0px;
      position: relative;
      &:hover {
        color: #fff;
        background: #000;
        &::before {
          border-color: transparent transparent transparent #000;
        }
      }
      &::before {
        content: "";
        position: absolute;
        right: -14px;
        top: 50%;
        transform: translate(0, -50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 14px 0 13px 14px;
        border-color: transparent transparent transparent #f33;
      }
    }
    .current {
      display: inline-block;
      color: #fff;
      background: #000;
      padding: 2px 8px 1px;
      position: relative;
    }
  }
}

/*==========================================
 画像トリミング
===========================================*/
.trim_h,
.trim_w{
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 0;
  line-height: 0;
  width: 100%;
  padding-top: 100%;
}
.trim_h img,
.trim_w img{
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s;
}
.trim_h img{/*縦*/
  height: 100%;
  max-width: inherit;
}
.trim_w img{/*横*/
  height: auto;
  width: 100%;
}

/*=== 文字数制限 ===*/
/* 一行表示 */
.clamp01 {
  display: -webkit-box;
  height: 1.5em;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
/* 二行表示 */
.clamp02 {
  display: -webkit-box;
  height: 3em;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/* 三行表示 */
.clamp03 {
  display: -webkit-box;
  height: 4.5em;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
/* 横幅 */
.maw{
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2.5%;
}

